#messages * {
    font-family: monospace;
}
table#messages {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}
  #messages td {
      border-top: 1px #CCC solid;
      border-bottom: 1px #CCC solid;
  }
  #messages .msgstr {
      width: 430px;
      max-width: 430px;
  }
  #messages .msgid {
      padding: 5px;
      width: 430px;
      max-width: 430px;
      white-space: pre-wrap;
      vertical-align: top;
  }
  #messages .msgid span.spaced {
      background-color: #EEE;
  }
  #messages .msgstuff {
    padding: 5px;
  }
  #messages .msgstuff label {
    font-size: 10px;
  }
  #messages .msgstatus {
    width: 7px;
  }
  #messages .msgstr textarea.msgstr_text {
      font-size: 13px;
      padding: 4px;
      border: none;
      width: 421px;
      max-width: 421;
      min-width: 421px;
      min-height: 20px;
  }
  #messages .msgstr .msgstr_text.current {
    background: #FFA !important;
  }
  #messages .msgstr .msgstr_text.focused {
    background: #F4F4F4;
  }

#navigation_statuses {
  margin-bottom: 10px; 
}
  #navigation_statuses li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 0;
    margin: 0;
  }
  #navigation_statuses .filter {
    padding-left: 2px;
    border: solid #AAA 1px;
  }
  #navigation_statuses .filter.empty {
    color: #AAA;
  }
