#messages {
    width: 100%;
    border-collapse: collapse;
}
#messages td {
    padding: 10px;
    font-size: 20px;
    border-top: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
}
#messages .msgstr {
    width: 50%;
}
#messages .msgstr span {
    padding-left: 6px;
    line-height: 30px;
}
#messages .msgstr input {
    padding: 5px;
    height: 20px;
    font-size: 20px;
    width: 100%;
    border: none;
    background: #FFA;
    display: none;
}

div#navigation_statuses, div#navigation_statuses a {
  margin-top: 20px;
  font-size: 1.1em;
}
  #navigation_statuses li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 0;
    margin: 0;
  }
