#messages {
    width: 100%;
    border-collapse: collapse;
}
  #messages td {
      padding: 10px;
      font-size: 15px;
      border-top: 1px #CCC solid;
      border-bottom: 1px #CCC solid;
  }
  #messages .msgstr { width: 40%; }
  #messages .msgid { width: 40%; }
  #messages .msgid span {
      color: #AAA;
  }
  #messages .msgstuff label {
    font-size: 10px;
  }
  #messages .msgstr input.msgstr_textfield {
      padding: 5px;
      height: 15x;
      font-size: 15px;
      border: none;
      width: 100%;
  }
    #messages .msgstr input.msgstr_textfield.current {
      background: #FFA;
    }


div#navigation_statuses, div#navigation_statuses a {
  margin-top: 20px;
  font-size: 1.1em;
}
  #navigation_statuses li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 0;
    margin: 0;
  }
